html, body, p {
   margin: 0;
   padding: 0;
}

.container {
   margin: 0 auto;
   display: flex;
   width: 90vw;
   height: 90vh;
   max-height: fit-content;
   justify-content: center;
   align-items: center;
}


svg {
   background-color: #37b2c3;
   padding: 5rem 2rem;
}

svg .black-keys  {
   fill:black;
}

svg .white-keys {
   fill: white;
}

svg .white-keys:hover{
   fill:#ffd200;
}

svg .black-keys:hover{
   fill: #f40082
}
